.welcome-title{
    text-align: center;
    font-size: 2em;
    margin-top: -2%;
}

.home-title {
    text-align: center;
    /* Center the title */
    margin: 10px auto;
    padding: 10px;
    background-color: #8d1069a3;
    color: #fff;
    border-radius: 10px;
    width: fit-content;
    font-size: 2.5rem;
}



