/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #484848;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* Style for the nav element */
nav {
    background-color: #8d1069; /* Purple background */
    padding: 10px;
    width: 100%; /* Ensure nav spans the full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* Style for nav links */
.custom-navbar a {
    color: #fff; /* White links */
    text-decoration: none;
    padding: 10px;
}

/* Hover effect for nav links */
.custom-navbar a:hover {
    color: #000; /* Change color to black on hover */
}

.custom-navbar {
    height: 50px; /* Adjust the height as needed */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    line-height: 80px; /* Match the height for vertical alignment */
}



